/*mobile index*/
@media (max-width: $mediamobile) {
    body{
        display: flex;
        flex-direction: column;
        width: 100vw; 
        

        .header{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            justify-content: center;

            .header_logo{
                width: 40vw;
                height: 10vh;
                
                & img{
                    width: 100%;
                    height: auto;
                }
            }

            .header_nav{
                display: flex;
                flex-direction: column;  
                width: 100vw;  
                background-color: #4fc4c4; 
                
                .red{
                    width: 100vw;
                    align-items: center;
                }
            }

        }

        /* FIN NAV */
        /* INICIO DE SECTION */

        .encabezado{ 
            .encabezadoTitulo {
                width: 90vw;
                font-size: 25px;
            }
        }
    

        .section{
            width: 100vw;
            height: auto;
        
            & .carousel-item{
                width: 100%;
                height: 200px;

                .section_titulo{
                    font-size: 10px;
                    margin: 5px;
                }
                
                .section_texto{
                    font-size: 10px;
                    margin: 10px;
                    width: 100%;
                    letter-spacing: normal;
                    line-height: 25px;
                }

            }
        
            & img{
                width: 100%;
                height: auto;
            }
        
            #carouselExampleIndicators{
                width: 100vw;
            }
             
        }
        /*fin de section*/
        /* inicio de footer*/
        
        .footer{
            display: flex;
            flex-direction: column;        
        }  

    }
    
}



@media (min-width:481px) and (max-width:768px) {  
   
   
    .header_nav{

        display: flex;
        flex-direction: column;  
        width: 100%;  
        

        .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            z-index: 999;
            justify-content:flex-end;
           
            
        }
    
        #navbarNavAltMarkup{
            background-color: #4fc4c4;    
            padding: 10px;     
            
            
        }


        .section{
            align-items: stretch;               
            width: 100vw;
            height: 60vh;

            .section_titulo{
                font-size: 20px;        
            }
    
            .section_texto{
                line-height: normal;
                padding: 0;
                margin-top: 15px;
               
                
            }
        
        }       
    }
}

/*FIN DE INDEX*/
/*INICIO DE QUIENES SOMOS*/

@media (max-width:480px){

    .somos{ 

        & section{
        height: auto;

        }

        & .somos__text{
            font-size: 1rem;
            letter-spacing: 2px;
            line-height: 1.5rem;
        }

        .somos__text{
            width: 100vw;
        }

        .somos__title h1{
            font-size: 1.5rem;
        }
    }

}

@media (min-width:481px) and (max-width:768px) {
    .somos__text{
        width: 90vw ;
    }    
    
}

/* FIN PAGINA QUIENES SOMOS */

/*INICIO QUE HACEMOS*/

@media (max-width:480px) {

    .quehacemos{
        font-size: 1.2rem;
    }
    #articulo p{
        font-size: 0.7rem;
    }
    #articulo h2{
        font-size: 0.9rem;
    }
}
/* FIN QUE HACEMOS */

/*INICIO DE PRODUCTOS*/

@media (max-width:480px) {
    
    .article__prod{
        .productos{
            .productos2{
                img{
                    width: 70vw;
                    

                }

            }

        }

    }    


    #articleProd{
        display: flex;
        flex-direction: column;
        height: auto;
        #cat{
            width: 45vw;
    
        }
    }

    #prod{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        
    }

    
}


@media (min-width:481px) and (max-width:768) {

    #article__prod{
        width: 768px;
        height: 70vh;
        
    }
}
/*FIN DE PRODUCTOS*/