
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../assets/fondotop2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;      
    width: 100vw;
    height: 100%;
}



@import "vars";
@import "pages";
@import "header";
@import "footer";
@import "responsive";





