* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(../assets/fondotop2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
}

/*variables*/
/*responsive*/
/*MAPEO*/
/*section pagina inicio*/
.encabezado {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.encabezado .encabezadoTitulo {
  background-color: rgba(131, 211, 207, 0.1294117647);
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 10px;
  margin-top: 25px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  margin-top: 20px;
}
.section #carouselExampleIndicators {
  width: auto;
}
.section .carousel-inner img {
  height: auto;
  width: auto;
}
.section img {
  height: auto;
  width: auto;
}
.section .carousel-item {
  background-color: rgba(187, 194, 194, 0.8549019608);
  color: rgb(0, 0, 0);
  width: 80vw;
  height: 80vh;
  align-items: center;
}
.section .carousel-item .section_titulo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}
.section .carousel-item .section_texto {
  margin-top: 30px;
  margin: auto;
  /* margin-left: 300px; */
  padding: 20px;
  font-weight: bolder;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 2px;
  width: 500px;
  height: auto;
}

/*fin de section*/
.menuFinal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: white;
  width: 100vw;
  margin-top: 20px;
}
.menuFinal .menu__pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid cyan;
  width: 350px;
  font-size: 0.8rem;
  background-color: rgba(131, 211, 207, 0.1294117647);
  padding: 10px;
}
.menuFinal .menu__pie:hover {
  background-color: rgba(213, 217, 221, 0.6588235294);
  color: black;
}
.menuFinal .menu__pie img {
  width: 50px;
}

/*INDEX*/
/*QUIENES SOMOS*/
.somos {
  background-image: url(../assets/pc.jpg);
  background-position: left top;
  background-size: cover;
  height: 70vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.somos section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  width: 400px;
  font-size: 22px;
}
.somos .somos__title {
  font-size: 3rem;
  margin-bottom: 30px;
}
.somos .somos__texting {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.somos .somos__texting .somos__text {
  font-size: 2.5rem;
  width: 20px;
  line-height: 3rem;
}

/*FIN QUIENES SOMOS*/
/*INICIO QUE HACEMOS*/
#articulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#articulo .quehacemos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 900;
  margin: 10px;
}
#articulo .servicios, #articulo .servicios2 {
  margin: 30px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}
#articulo .servicios .serviciotecnico img, #articulo .servicios2 .serviciotecnico img {
  height: auto;
  width: 100%;
  margin: 15px;
}
#articulo .servicios .serviciotecnico, #articulo .servicios2 .serviciotecnico {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
#articulo .servicios .serviciotecnico:hover, #articulo .servicios2 .serviciotecnico:hover {
  color: #26f8b2;
  background-color: rgba(152, 180, 212, 0.5058823529);
  border-radius: 10%;
  border-bottom: 1px solid #26f8b2;
  width: 41%;
}
.article__prod {
  width: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article__prod .productoTitle {
  color: white;
  margin-top: 40px;
}
.article__prod .Categorias {
  width: 120px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article__prod .productos {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin: 50px;
}
.article__prod .productos .productos2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article__prod .productos .productos2 {
  transition: all 1s;
}
.article__prod .productos .productos2:hover {
  background-color: rgba(213, 217, 221, 0.6588235294);
  color: #1f2524;
  border-radius: 10%;
}
.article__prod .productos .productos2 img {
  width: 30vw;
  height: auto;
  transition: 0.5s;
}
.article__prod .productos .productos2 img:hover {
  width: 425px;
}

/*INICIO DE CONTACTOS*/
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: auto;
}
.contact .formulario {
  background-color: rgba(152, 180, 212, 0.5058823529);
  padding: 20px;
  width: 80vw;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  border: solid 1px white;
}
.contact .formulario .row {
  display: flex;
  justify-content: center;
}
.contact .formulario .form__contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 10px;
  width: 90%;
}
.contact .formulario .form__contact .col-12 {
  width: 50%;
}
.contact .formulario textarea {
  resize: vertical;
  width: 70vw;
}
.contact .formulario .botonSend, .contact .formulario .botonDelete {
  border-radius: 25%;
}
.contact .formulario .botonSend:hover, .contact .formulario .botonDelete:hover {
  padding: 5px;
}
/* menu navegacion */ /*variables*/
/*responsive*/
/*MAPEO*/
.header {
  display: grid;
  grid-template-columns: 33vw 60vw;
  grid-template-rows: 30vh;
  border-bottom: cyan solid 2px;
  background-color: rgba(98, 197, 192, 0.2196078431);
  border-radius: 3%;
}
.header .navbar-nav a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 1s;
}
.header .navbar-nav a:hover {
  color: #26f8b2;
}
.header .header_logo img {
  width: 20vw;
  height: auto;
}
.header .header_nav {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}
.header .header_nav .navbar.navbar-expand-lg {
  background-color: rgba(96, 169, 179, 0.5058823529);
}
.header .header_nav #navbarNavAltMarkup .nav-link {
  color: white;
}
.header .header_nav #navbarNavAltMarkup .nav-link:hover {
  color: #26f8b2;
}

/* fin menu navegacion*/
/*redes*/
.red {
  display: flex;
  flex-direction: column;
}
.red ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 35px;
}
.red img {
  width: 30px;
  margin: 10px;
  transition: width 1.5s;
}
.red img:hover {
  width: 45px;
  margin: auto;
}

/*fin de redes*/
/*inicio de footer*/
.footer {
  margin-top: 30px;
  border-radius: 3%;
  padding: 10px;
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 40vh;
  color: white;
  justify-content: center;
  border-top: cyan solid 2px;
  background-color: rgba(57, 119, 116, 0.3215686275);
}
.footer .horario, .footer .footer__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.footer .footer__datos strong {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(115, 163, 190, 0.4784313725);
  padding: 10px;
  border-radius: 10%;
}
.footer .footer__datos strong:hover {
  background-color: rgba(134, 146, 153, 0.8549019608);
}

/*fin de footer*/
/*mobile index*/
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* FIN NAV */
    /* INICIO DE SECTION */
    /*fin de section*/
    /* inicio de footer*/
  }
  body .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  body .header .header_logo {
    width: 40vw;
    height: 10vh;
  }
  body .header .header_logo img {
    width: 100%;
    height: auto;
  }
  body .header .header_nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #4fc4c4;
  }
  body .header .header_nav .red {
    width: 100vw;
    align-items: center;
  }
  body .encabezado .encabezadoTitulo {
    width: 90vw;
    font-size: 25px;
  }
  body .section {
    width: 100vw;
    height: auto;
  }
  body .section .carousel-item {
    width: 100%;
    height: 200px;
  }
  body .section .carousel-item .section_titulo {
    font-size: 15px;
    margin: 5px;
  }
  body .section .carousel-item .section_texto {
    font-size: 10px;
    margin: 10px;
    width: 100%;
    letter-spacing: normal;
    line-height: 25px;
  }
  body .section img {
    width: 100%;
    height: auto;
  }
  body .section #carouselExampleIndicators {
    width: 100vw;
  }
  body .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header_nav .navbar > .container, .header_nav .navbar > .container-fluid, .header_nav .navbar > .container-lg, .header_nav .navbar > .container-md, .header_nav .navbar > .container-sm, .header_nav .navbar > .container-xl, .header_nav .navbar > .container-xxl {
    z-index: 999;
    justify-content: flex-end;
  }
  .header_nav #navbarNavAltMarkup {
    background-color: #4fc4c4;
    padding: 10px;
  }
  .header_nav .section {
    align-items: stretch;
    width: 100vw;
    height: 60vh;
  }
  .header_nav .section .section_titulo {
    font-size: 20px;
  }
  .header_nav .section .section_texto {
    line-height: normal;
    padding: 0;
    margin-top: 15px;
  }
}
/*FIN DE INDEX*/
/*INICIO DE QUIENES SOMOS*/
@media (max-width: 480px) {
  .somos section {
    height: auto;
  }
  .somos .somos__text {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
  }
  .somos .somos__text {
    width: 100vw;
  }
  .somos .somos__title h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .somos__text {
    width: 90vw;
  }
}
/* FIN PAGINA QUIENES SOMOS */
/*INICIO QUE HACEMOS*/
@media (max-width: 480px) {
  #articulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #articulo .quehacemos {
    font-size: 1.2rem;
  }
  #articulo p {
    font-size: 0.7rem;
  }
  #articulo h2 {
    font-size: 0.9rem;
  }
}
/* FIN QUE HACEMOS */
/*INICIO DE PRODUCTOS*/
@media (max-width: 480px) {
  .article__prod .productos .productos2 img {
    width: 70vw;
  }
  #articleProd {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #articleProd #cat {
    width: 45vw;
  }
  #prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768) {
  #article__prod {
    width: 768px;
    height: 70vh;
  }
}
/*FIN DE PRODUCTOS*//*# sourceMappingURL=main.css.map */