*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(./assets/fondotop2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;      
    width: 100vw;
    height: 100%;
}


/*  menu navegacion */

.header{
    display: grid;
    grid-template-columns: 33vw 60vw;
    grid-template-rows: 30vh;
    border-bottom: cyan solid 2px;
    background-color: #62c5c038;
    border-radius: 3%;
}

.header_nav{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

#navbarNavAltMarkup .nav-link{
    color: white;    
}

#navbarNavAltMarkup a:hover{
    color: #26f8b2;    
}

.red{
    display: flex;
    flex-direction: column;     
}

.red ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 35px;
}

.header_logo img{
    width: 20vw;
    height: auto;
}

/* IMG REDES */
.red img{
    width: 30px;
    margin: 10px;
    transition: width 1.5s;
}

.red img:hover{
    width: 45px;
    margin: auto;

}

/* SECTION */

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    margin-top: 20px;
    
}

#carouselExampleIndicators{
    width: auto;
}
.carousel-inner img{
    height: auto;
    width: auto;
}

.section img{
    height: auto;
    width: auto;
}

.section .carousel-item{
    background-color: #83d3cf21;
    color: white;
    width: 60vw;
    height: 60vh;
    
}

.section_titulo{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.section_texto{
    margin-top: 30px;
    padding: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}

/* FIN SECTION */

/* INICIO FOOTER */

.footer{
    margin-top: 30px;
    border-radius: 3%;    
    display: grid;    
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 40vh;
    color: white;
    justify-content: center;
    border-top: cyan solid 2px;
    background-color: #39777452;
}

.footer__datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.horario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__datos strong{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #73a3be7a;
    padding: 10px;
    border-radius: 10%;
}

.footer__datos strong:hover{
    background-color: #869299da;    
}

.footer__map{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
/* FIN DE FOOTER */

/* RESPONSIVE */

@media (max-width:480px) {
    
    body{
        display: flex;
        flex-direction: column;
        width: 100vw;        
    }

    .header_logo{
        width: 40vw;
        height: 10vh;
    }
    .header_logo img{
        width: 100%;
        height: auto;
    }

    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        
    }
    
    .header_nav{
        display: flex;
        flex-direction: column;  
        width: 100vw;  
        background-color: #93e0e036;    
    }
    
    .header_menu a{
        font-size: 10px;
                                 
           
    }
    .header_menu{
        width: 100vw;  
        height: auto;      
        
        align-items: normal;
    }
    .red{
        width: 100vw;
        align-items: center;
    }
    /* FIN NAV */
    /* INICIO DE SECTION */

    .section{
       width: 100vw;
       height: auto;
        
    }

    #carouselExampleIndicators{
        width: 100vw;
    }

    .section .carousel-item{
        width: 100%;
        height: auto;
    }

    .section img{
        width: 100%;
        height: 80%;
    }

    .footer{
        display: flex;
        flex-direction: column;        
    }

    

    
}
/* FIN INDEX RESPONSIVE MOBILE*/
 

@media (min-width:481px) and (max-width:768px) {
   
    .header_menu{
        align-items: stretch;         
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        z-index: 999;
    }


    .section{
        align-items: stretch;               
        width: 100vw;
        height: 60vh;
    }

    .section .section_titulo{
        font-size: 20px;        
    }

    .section .section_texto{
        line-height: normal;
        padding: 0;
        margin-top: 15px;
       
        
    }

    
    
}

/* PAGINA QUIENES SOMOS */
/* ARTICULO */


.somos{
    background-image: url(./assets/pc.jpg);
    background-position:left top;
    background-size: cover;
    height: 70vh;    
}

.somos section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.somos__title{
    font-size: 2rem;
    margin-bottom: 30px;
}

.somos__text{
    font-size: 1.5rem;    
    width: 50vw;
    line-height: 3rem;
    
}

.somos__texting{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


@media (max-width:480px) {
    .somos__text{
        width: 100vw;
    }
    
    .somos section{
        height: auto;
    }

    .somos__title h1{
        font-size: 1.5rem;
    }
    .somos .somos__text{
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1.5rem;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .somos__text{
        width: 90vw ;
    }

    
    
}


/* FIN PAGINA QUIENES SOMOS */


#articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quehacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}

.servicios {
    margin: 30px;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.serviciotecnico{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    transition: 1s; 
}

.serviciotecnico:hover{
    color: #26f8b2;
    background-color: #98b4d481;
    border-radius: 10%;
    border-bottom: 1px solid #26f8b2;
    width: 41%;
}


.serviciotecnico img{
    height: auto;
    width: 100%;      
    margin: 15px; 
}


.servicios2 {
    margin: 30px;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

@media (max-width:480px) {

    .quehacemos{
        font-size: 1.2rem;
    }
    #articulo p{
        font-size: 0.7rem;
    }
    #articulo h2{
        font-size: 0.9rem;
    }
}
/* FIN QUE HACEMOS */

/* COMIENZO DE PRODUCTOS */

#article__prod{
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;       
}

#Categorias{
    width: 20vw;
    height: 20px;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productoTitle{
    color: white;
    margin-top:40px;    
}

#productos{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    color: white;
    margin: 50px;  
         
}

.productos2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#productos div{
    transition: all 1s;
}

#productos div:hover{
    background-color: #d5d9dda8;
    color: #1f2524;
    border-radius: 10%;
}

#productos div img{
    width: 300px;
    height: auto;
    transition: 0.5s;
}
#productos div img:hover{
    width: 315px;
}



@media (max-width:480px) {
    
    #article__prod{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        
    }

    #Categorias{
        width: 45vw;

    }
}
@media (min-width:481px) and (max-width:768) {

    #article__prod{
        width: 768px;
        height: 70vh;
        
    }
}

/* COMIENZO DE CONTACTO */


.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
    width: 100vw;  
    height: auto; 
}


.formulario {
    background-color: #98b4d481;
    border-radius: 10%;
    width: 70vw;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.form__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 50%;
    
}

textarea {
    resize: vertical;
    width: 70vw;
}

.boton{
    border-radius: 25%;
}

.boton:hover{
    padding: 5px;
}

/* FIN DE CONTACTO */



/* BOOTSTRAP */

/* NAV */


.navbar-expand-lg{
    background-color: #48c2c28f;
}

.navbar-nav a{
    color: white;
    font-size: 1.rem;
    font-weight: bold;
    transition: 1s;
}

.navbar-nav a:hover{
    color: #26f8b2;
    
}

